@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a,h2{font-family: 'Nanum Gothic', sans-serif;}
@media screen and (max-width:767px) {
    
    #addbanner{width: 100%;height:530px;box-sizing:border-box;padding:.5rem;}
    #addbanner>h2{font-size:1.5rem;color:#2e082b;}
    form{width: 100%;height: 100%;}
    .fieldset_1{width: 100%; height:auto;box-sizing: border-box;border:2px solid #e6e5e6;float: left;margin-bottom: 25px;}
    
    dl:last-child{border-bottom:none;}
    dl{width: 100%;min-height:2.38em;height:4.954367vw;box-sizing: border-box;border-bottom: 2px solid #e6e5e6;margin:0;}
    dl>dt,dl>dd{font-size:.7rem;float: left;padding-top:.5rem;}
    dl>dt{width:20%;height:100%;box-sizing: border-box;padding-left:.2rem;border-right:1px solid #e6e5e6;padding-top:.5rem;}
    dl>dd{width: 80%;height: 100%;box-sizing: border-box;padding-left:.5rem;}
    dl>dd>p{display:none;}
    dl>dt>label{float: left;color:#602d5c;}
    dl>dd>input{float:left;}
    
    
    .fieldset_1>dl:nth-of-type(5){height:77px;}
    .fieldset_1>dl:nth-of-type(5)>dd>input[type="tel"]{margin-bottom:.5rem;}
    .fieldset_1>dl:nth-of-type(5)>dd>input[type="button"]{margin-bottom:.5rem;}
    .fieldset_1>dl:nth-of-type(5)>dd>input[type="text"]{/*min-width:14.69em;width:29.380704vw;*/width: 90%;}
    .fieldset_1>dl:nth-of-type(7)>dd>label{float: left;margin-right:.5rem;}
    .fieldset_1>dl:nth-of-type(9)>dd>label{float: left;margin-right:.5rem;}
   
    dl>dd>input[type="text"]{min-width:8.44em;width:17.601043vw;height: 23px;background-color:#f7f3f7;margin-right:.5rem;}
    dl>dd>input[type="password"]{min-width:8.44em;width:17.601043vw;height: 23px;background-color:#f7f3f7;}
    dl>dd>input[type="tel"]{min-width:3.88em;width:8.083441vw;height: 23px;
    background-color:#f7f3f7;margin-right:.5rem; }
    dl>dd>input[type="email"]{min-width:12.69em; width:30.083441vw;height: 23px;
    background-color:#f7f3f7; }
    dl>dd>input[type="button"]{min-width:5.31em;width: 7.910039vw;height: 23px;background-color:#633f60;color:#fff;}
    
    
    
    
    
    
    .fieldset_2{width:80%;height:4rem;margin:0 auto;}
    .fieldset_2>ul{width: 100%;height:2.5rem;}
    .fieldset_2>ul>li{width: 45%;height: 100%;}
    .btn_1{width: 50%;height: 100%;background-color:#2e082b;float:left;}
    .btn_1>a{color:#fff;}
    .btn_2{width: 50%;height: 100%;background-color: #cbc0ca;float: right;}
    .btn_2>a{color:#333;}
    .fieldset_2>ul>li>a{display: block;width: 100%;height: 50%; text-align: center;margin-top:10px;font-size:.8rem;font-weight:bold;}
}