../../img/goods/mascara_4/mascaralist/@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, a{font-family: 'Nanum Gothic', sans-serif;}
@media screen and (max-width:767px) {
     #addBanner{width: 100%;height: auto; }
     #addBanner > .addBannerBox{width: 100%;min-height:250x;height:32.594524vw;background-image: url(../../img/goods/mascara_4/mascaralist/mmas.png);background-size:100%;background-position: center;background-repeat: no-repeat;}
    #artt{width: 100%;height:90.203125vw;
    margin: 0 auto; }
    p{min-width:1380px;width: 179.6875vw;height:20px;margin: 0 auto;color:#8f858e;font-size:0.8rem; font-family: 'Nanum Gothic', sans-serif;}
    #artt{width: 100%;height: auto;}
    #artt>ul{width: 100%;height:220.756192vw;}
    #artt>ul>li{width: 50%;height:25%;float:left;box-sizing: border-box;padding: 1px;}
    #artt>ul>li>a{display: block;width: 100%;height: 100%; background-position:center;background-repeat: no-repeat;background-size:cover;transition:.5s;}
   .rouge_1>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas1.png);}
    .rouge_1>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas1-1.png);}
    .rouge_2>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas2.png);}
    .rouge_2>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas2-2.png);}
    .rouge_3>a{background-image:url(../../img/goods/mascara_4/mascaralist/mas3.png);}
    .rouge_3>a:active{background-image:url(../../img/goods/mascara_4/mascaralist/mas3-3.png);}
    .rouge_4>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas4.png);}
    .rouge_4>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas4-4.png);}
    .rouge_5>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas5.png);}
    .rouge_5>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas5-5.png);}
    .rouge_6>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas6.png);}
    .rouge_6>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas6-6.png);}
    .rouge_7>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas7.png);}
    .rouge_7>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas7-7.png);}
    .rouge_8>a{background-image: url(../../img/goods/mascara_4/mascaralist/mas8.png);}
    .rouge_8>a:active{background-image: url(../../img/goods/mascara_4/mascaralist/mas8-8.png);}
  
    
    
    
    
    
    
}